body{
	background: white;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

#mainSNFContainer{
	float:left;
	margin-right: 40px;
	margin-bottom: 5px;
	border-color: black;
	border-style: solid;
	align-items: center;
	font-weight: bold;
	padding: 10px;
}

h1{
	color: #ffb500;
	text-align: center;
	line-height: 75px;
}

#SYKLogo{
	height: 75px;
	width: 250px;
	float: right;
	margin-top: 5px;
}

.searchZipCode{
	text-align: center;
}